@charset "UTF-8";

/* 본문 폰트 프리텐다드 */
@font-face {	
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 타이틀 폰트 단감체 */
@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ---- main start ---- */

.container{
	margin-top: 100px;
	margin-bottom: 100px;
}


main{
	height: 550px;
	background-color: #1c3761;
}


main .main_bg_img{
	height: 350px;
	background-image: url("../images/company_info_main_bg_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
}


.main_title .main_title_01{
	color: #ffffff;
	text-align: center;
	font-size: 50px;
	font-family: Pretendard-Regular;
	margin-top: 50px;
}

.main_title .main_title_02{
	color: #ffffff;
	text-align: center;
	font-size: 27px;
	font-family: Pretendard-Regular;
	font-weight: 100;
	margin-top: 10px;
}


/* ---- main end ---- */




article{
	width: 1280px;
	margin: 0 auto;
	border: 1px solid green;
}


/* ---- 상단타이틀 ---- */

.title{
	padding-left: 50px;
	height: 150px;
	border: 1px solid pink;
}

.title div:nth-child(2){
	font-size: 70px;
	font-family: CWDangamAsac-Bold;
	color: #1c3761;
	text-align: center;
	padding-top: 13px;
}


.title div:nth-child(1){
	font-size: 25px;
	font-family: Pretendard-Regular;
	font-weight: 100;
	color: #1c3761;
    text-align: center;
    letter-spacing: -1.5px;
	
}



/* ---- 게시판 입력창 ---- */


.review_post{
	margin: 50px auto;
	width: 1000px;
	font-family: Pretendard-Regular;
}


.text{
	float: left;
	margin-top: 6px;
	width : 175px;
	height: 390px;
 	font-family: Pretendard-Regular;
	font-weight: 500;

}

.text div{
	height: 40px;
	background: #f7f7f7;
	margin-bottom: 6px;
	line-height: 40px;
	padding-left: 10px;
	color: #575757;
}

.text div:nth-child(5){
	height: 150px;	
}


.text div:nth-child(6){
	height: 50px;
}


form .input_box{
	float: left;
	padding-top: 9px;
	padding-left: 20px;
	width: 800px;
	height: 40px;
	margin-top: 6px;
	margin-left: 20px;
	
	border: 1px solid #bbb;
}


form .input_box:nth-child(3) {
	color: #ffc303;
	letter-spacing: 1px;
}

.star:nth-child(2), .star:nth-child(3),
.star:nth-child(4), .star:nth-child(5){
	margin-left: 15px;
}




form .input_box:nth-child(5) {
	height: 150px;
	padding-top: 23px;
}

form .input_box:nth-child(6) {
	height: 50px;
	padding-top: 13px;
}


form textarea{
	resize: none;
}



form .input_box:nth-child(7) {
	height: 70px;

}


.but_box{
	clear: both;
	margin: 0 auto;
	padding-left: 150px;
}

.input_but{
	height: 80px;
	width: 410px;
	margin: 0 auto;
	padding-top: 20px;
}



.submit{
	float: left;
	width: 200px;
	height: 50px;
	background: #1c3761;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 45px;
}



.reset{
	float: left;
	width: 200px;
	height: 50px;
	background: #f7f7f7;
	color: #575757;
	text-align: center;
	font-size: 22px;
	line-height: 45px;
	margin-left: 10px; 
}





/* 등록 리뷰 출력 */

/* 텍스트 */ 

#review_get{
	clear: both;
	margin: 0 auto;
	padding-top: 10px;
	height: 1000px;

	
}


.review_get_box{
	width: 1000px;
	height: 250px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 1px 2px 5px #bbb;
	
}

.review_text{
	float: left;
	width: 700px;
	padding-top: 25px;
	padding-left: 25px;
	line-height: 170%;
}

.text_01{
	width: 700px;
	height: 40px;
	font-size: 20px;
}

.text_01 div{
	float: left;
}


.new_box{
	width: 80px;
	height: 35px;
	background: #1c3761;
	border-radius: 20px;
	margin-top: 2px;
	margin-left: 10px
}

.new_text{
	font-family: Pretendard-Regular;
	font-weight: 500px;
	color: #fff;
	padding-left: 18px;
	padding-top: 6px;
}



.text_01 div:nth-child(2){
	padding-left: 30px;
	color: #ffc303;
	font-size: 30px;
	padding-top: 2px;
}

.text_01 div:nth-child(3){
	padding-left: 40px;
	padding-top: 5px;
	font-family: Pretendard-Regular;
	font-weight: 600px;
	font-size: 20px;
	color: #7a7a7a;
}

.text_01 div:nth-child(4){
	padding-left: 10px;
	padding-top: 8px;
	font-family: Pretendard-Regular;
	font-weight: 600px;
	font-size: 15px;
	color: #979797;
}



.get_text{
	clear: both;
	margin-top: 30px;
	margin-left: 10px;
	font-size: 20px;
	font-family: Pretendard-Regular;
	font-weight: 300px;
	color: #2c2c2c;
	
}



/* 이미지 */

.review_img{
	float: right;
	width: 215px;
	height: 195px;
	background: #1c3761;
	border-radius: 20px;
	margin-right: 25px;
	margin-top: 25px
}


