@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

li{
	list-style:none;
}
a{
	text-decoration: none;
	color: #000;
}

/*wrap*/

.wrap{
	width:1920px;
	margin:0 auto;
	
}

/*header section*/
.header_wrap{
	width: 100%;
	background: #1c3761; 	
}
.header{
	width: 1280px;
	height: 80px;
    margin: 0 auto;    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
	color:#fff;
}
.left_section{}
.logo_section{
	width: 200px;
	height: 50px;
	background: #ccc;
}
.right_section{
	height:70px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}
.lognin_section{
	display:flex;
	justify-content: flex-end;
	font-size: 14px;
}
.lognin_section li{
	margin:0 10px;
}
.gnb{
	display:flex;
}
.gnb li{
	margin:0 10px;
}

/*container section*/
.contaeinr{
	width:100%;
	margin:0 auto;
	height: 100vh;
    background: #fff;
}

/*footer section*/
.footer_wrap{
	width: 100%;
	background: #1c3761; 
	padding:10px 0;
}

.footer{
	width:1280px;
	margin:0 auto;
	font-size:14px;
	text-align:center;
	color:#fff;
	
}

.top_footer{

}
.top_footer li{}
.booter_footer{}
.booter_footer li{}