@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

li{
   list-style:none;
}
a{
   text-decoration: none;
   color: #000;
}

/*wrap*/


/*header section*/
.header_wrap{
   width: 100%;
   background: #1c3761;    
}
.header{
   width: 1280px;
   height: 80px;
    margin: 0 auto;    
    
    display: flex;
    align-items: center;
    justify-content: space-between;   
    
}
.header a{
   color:#fff;
}
.left_section{}
.logo_section{
   width: 200px;
   height: 50px;
   background: #ccc;
}
.right_section{
   height:70px;
   display:flex;
   flex-direction: column;
   justify-content: space-around;
}
.lognin_section{
   display:flex;
   justify-content: flex-end;
   font-size: 14px;
}
.lognin_section li{
   margin:0 10px;
}
.gnb{
   display:flex;
}
.gnb li{
   margin:0 10px;
}



/* -------------------------------- main ---------------------------- */



.contaeinr{
	font-family: 'Pretendard-Regular';
   width:100%;
   margin:0 auto;
}
button{width: 300px; height : 40px; border-style:none;
font-size : 18px; font-weight : bold; color:white; 
background-color: #1c3761; cursor: pointer;
border-radius: 5px;
}

.main_wrap{width: 1280px; margin : 0 auto; 
display : flex; align-items: center; justify-content: center;}
.main_img{width: 1920px; height : 250px; margin : 0 auto; background-color: gray;}
.sign_container{ width : 1000px; height : 400px;
	display: flex; justify-content: space-around; align-items : center;	
}
.signin_box{width : 480px; height : 400px;  margin-top : 40px;
display : flex; flex-direction: column ;
justify-content: flex-start; align-items: center;}
.signin_logo { height : 150px; display : flex; align-items: center;}
.signin_logo img{width : 200px; height : auto;}
.input_box{width : 400px; height : 100px; 
display : flex; flex-direction: column; 
align-items: center; justify-content: space-around;
}
.input_box input{width : 300px; height : 40px;}
.signin_btn{ width : 300px; }
.signin_checked{margin-bottom: 5px;}


.signup{width : 480px; height : 400px; 
display : flex; flex-direction: column ;
justify-content: space-around; align-items: center;}
.signup_ad h3{font-size : 30px; margin : 10px;}
.signup_ad p{font-size : 18px; margin : 10px;}
.signup_btn{display : flex; justify-content: center;}
.find_info h3{font-size : 30px; margin : 10px;}
.find_info p{font-size : 18px; margin : 10px;}
.find_btn{height : 100px; display : flex; flex-direction: column;
align-items: center; justify-content: space-around;}









/*footer section*/
.footer_wrap{
   width: 100%;
   background: #1c3761; 
   padding:10px 0;
}

.footer{
   width:1280px;
   margin:0 auto;
   font-size:14px;
   text-align:center;
   color:#fff;   
}

.top_footer{}
.top_footer li{}
.booter_footer{}
.booter_footer li{}