body {
	margin: 0 auto;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
h1 {
	font-family: 'Pretendard-Regular';
	font-size: 50px;
}
.main_section {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 1200px;
}
.main_map {
	width: 700px;
	height: 600px;
	margin-top: 100px;
	margin-right: 48px;
}
.main_content {
	width: 400px;
	margin-top: 100px;
	text-align: center;
	font-weight: 1000px;
	font-size: 30px;
}
.main_content_inner {
	display: flex;
	margin-top: 50px;
}
.main_inner {
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}
/* .map {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
} */
.img_1 {
	
}
.img_2 {
	
}
.img_3 {
	
}
.img_4 {
	
}
.img_5 {
	
}

























